body {
        background-color: #4F5650;
        font-family: Helvetica;
}
ul, li {
        list-style: none;
        display:inline;
}
a.logout {
        color: #4F5650;
        text-decoration: none;
}
a.tabs {
        color: white;
        text-decoration: none;
}
a:hover {
        color: #D4D00F;
        text-decoration: none;
}
iframe {
        border: 0px;
}
#aboveheader {
        background-color: white;
        height: 15px; 
        width: 800px;
        padding: 8px;
        border-radius: 10px 10px 0px 0px;
}
#log {
        color: #4F5650;
        font-size: 13px;
        text-align: right;
        margin-right: 10px;
}
#header {
        background-color: #005581;
        height: 100px;
        width: 800px;
        color: white;
        text-align: left;
        padding: 8px;
}
#tabs {
        background-color: #005581;
        height: 30px;
        width: 800px;
        color: white;
        text-align: right;
        padding: 8px;
}
#undertabs {
        background-color: white;
        color: #E20177;
        text-align: left;
        font-size: 11px;
        
        height: 5px; 
        width: 800px;
        padding: 8px;
        border-radius: 0px 0px 5px 5px;
}
#page {
        background-color: white;
        color: black;
        height: 500px;
        width: 816px;
        margin-top: 10px;
        border: solid 2px #005581;
        border-radius: 10px 10px 0px 0px;
}
#headpage {
        background-color: #005581;
        height: 15px;
        width: auto;
}
#footer {
        width: 810px;
        height: 15px;
        text-align: center;
        color: #D4D00F;
        background-color: #005581;
        padding: 5px;
        font-size: 11px;
        border-radius: 0px 0px 10px 10px;
}
.titel {
        font-size: 35px;
}
.webshopinfo {
        font-size: 11px;
        color: #D4D00F;
}
