body {
        font-family: Helvetica;
}
h2, h2 {
        color: #005581;
}
p {
        color: #4F5650;
        padding: 8px;
}
table {
        border: 1px solid;
        padding: 5px;
        margin-top: 10px;
}
a {
        color: #4F5650;
        text-decoration: none;
}
a:hover {
        color: #D4D00F;
        text-decoration: none;
}
.normal {
        font-size: 12px;
}
.big {
        font-size: 15px;
        font-weight: bold;
}   
